@import 'tailwindcss';
@import 'tw-animate-css';
@import './styles/tokens.css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  margin: 0;
  font-family: var(--font-body);
}

h2,
p {
  margin: 0;
}
